
.formulario-personal{
background: coral;
}

/*Todos los elementos Input que estén dentro de un elemento que tengan clase de formulario personal*/
.formulario-personal input{
    border-radius: 10px;

}

.formulario-externo {
 background: khaki;
}

section{
background: lightpink;
}

.letra-morada{
    color: purple;
}

.subrayado{
    text-decoration: underline;
}

#inputgoogle{
background: gray !important; 
}



#inputgoogle{
    background: green;
}